@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#container {
	width: 350px;
	height: 500px;
	margin:0 auto;
}

#completed-list {
	display: none;
}

.right-box {
	margin-top:25px;
}

#completed-list-container li {
	padding-top:5%;
	padding-bottom:5%;
	padding-left:5%;
	border-bottom:1px solid #9e9e9e;
}

.task-menu {
	display:none;
}

.task-menu:hover {
	cursor: pointer;
}

.tasks:hover .task-menu {
	display:block;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#textarea {
	width:200px;
	height:20px;
	position:relative;
	top:-7.5px;
	right: 3.5px;
}

.tasks {
	height:25px;
	z-index:10;
}

// Task items

#task-list {
	li {
		height: 21px;
		margin-bottom:3px;
		position:relative;
		z-index:10;
		p {
		}
		
	} 

}

.active-task {
	z-index:99;
}

.highlight {
	z-index:-100;
	background-color:red;
	position:absolute;
	opacity:.2;
	width:317px;
	height:21px;
	left:23px;
	
}
